img.img-thumbnail {

    border: 0;
}

.navbar { 

    background-color:#CA9E70 ;
    margin: 0; 
}

.carousel-inner {

    width: 100px;
}

.text {

    font-size: 30px;
    color: white;
    font-size: Lato;
    font-weight: 1000;
    margin-left: 60px;
    position: relative;
    top: -100px;
}

.text1 {

    font-size: 15px;
    color: #162336;
    font-size: Lato;
    font-weight: 900;
    margin-left: 140px;
    position: relative;
    top: -120px;
}

.btn-btn-primary {

    top: -120px; 
}

.carousel1 { 

    position: absolute;
    top: 240px;
    bottom: 20%; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    left: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.carousel2 { 

    position: absolute;
    top: 240px;
    bottom: 20%; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    right: 50px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

}

.custom-slide1 h5  { 

    font-weight: 1000;
    font-size: 40px;
    color: white; 
    text-transform: uppercase;
    font-family:"Segoe UI", Arial, sans-serif;
    position: relative;

}

.custom-slide1 p {
    
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #000000; 
    font-weight: 1000;
    
}

.custom-slide2 h5  { 

    font-weight: 1000;
    font-size: 40px;
    color: white; 
    text-transform: uppercase;
    font-family:"Segoe UI", Arial, sans-serif;
}

.custom-slide2 p {
    
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #493219; 
    font-weight: 1000;

}

.custom-slide3 h5  { 

    font-weight: 1000;
    font-size: 40px;
    color: white; 
    text-transform: uppercase;
    font-family:"Segoe UI", Arial, sans-serif;
}

.custom-slide3 p {
    
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #CA9E70; 
    font-weight: 1000;
}

.custom-slide4 h5  { 

    font-weight: 1000;
    font-size: 40px;
    color: #162336; 
    text-transform: uppercase;
    font-family:"Segoe UI", Arial, sans-serif;
}

.custom-slide4 p {
    
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #360c02; 
    font-weight: 1000;
}

.custom-slide5 h5 {

    font-weight: 1000;
    font-size: 40px;
    color: #162336 ; 
    text-transform: uppercase;
    font-family:"Segoe UI", Arial, sans-serif;
}

.custom-slide5 p {
    
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #CA9E70; 
    font-weight: 1000;
}

.container-fluid { 

    font-size: 40px;
    font-weight: 900;
}

.img-fluid {

    width: 70%;
    margin-left: 400px;    
}

.card-body1 { 

    position:relative; 
    font-size: 40px;
    width: 25rem;
    height: 450px;
    top: -550px; 
}

.row { 

    margin-left: 30px;
    position: relative;
    background-color: #162336;
    top: -400px;
}

.card1 {

    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: 0;
    border-radius: var(--bs-card-border-radius);
}

.card-body {

    background-color: #162336;
}

.card-title1 {

    font-size: 30px;
    color: white;
    font-family:"Segoe UI", Arial, sans-serif;
    line-height: 1.5;
    letter-spacing: 4px;
}

.card-text1 {

    color: white;
    line-height: 1.5;
    font-family:"Segoe UI", Arial, sans-serif;
    opacity: 0.60;
    font-family: "Lato", sans-serif;
}

.img-thumbnail {

    width: 150px;    
}

.text3 {

    position: relative;
    top: -350px;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.blockquote1 {

    position: relative;
    top: -350px;
    font-style: italic;
    font-family: "Lato", sans-serif;
    opacity: 0.60;
}

.img-thumbnail {

    position: relative;
    top: -350px;
}

.contato {

    position: relative;
    margin-top: -300px;
    background-color: #162336;
    height: 450px;
    margin-bottom: 0;
}

.text4 {

    position: relative;
    top: -350px;
    color: white;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.blockquote2 {

    position: relative;
    top: -350px;
    font-style: italic;
    font-family: "Lato", sans-serif;
    opacity: 0.60;
}

.text-center2 {

    position: relative;
    text-align: center;
    top: 70px;
    color: white;
    letter-spacing: 4px;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.text-center3 {

    position: relative;
    text-align: center;
    color: white;
    top: 70px;
    font-style: italic;
    font-family: "Lato", sans-serif;
    opacity: 0.60;
}

.text5 {

    position: relative;
    text-align: center;
    color: white;
    top: 70px;
}

.whatsapp-icon {

    align-items: center;
    color: #25D366;
    position: relative;
    top: 100px;
    font-size: 40px;
}

.facebook-icon {

    width: auto;
    margin-left: 20px;
    color: #1877F2; 
    position: relative;
    top: 100px;
    font-size: 40px;
}

.instagram-icon {

    margin-left: 20px;
    color: #E4405F; 
    position: relative;
    top: 100px;
    font-size: 40px;
}

@media (min-width: 1000px) and (max-width: 1500px) {
    
    .carousel-inner {

        height: 700px;    
    }

    .custom-slide1 p {
        
        height: 20px;
    }

    .custom-slide2 p {
        
        height: 230px;
    }

    .custom-slide5 p {
        
        height: 230px;
    }

    .custom-slide3 p {
        
        height: 230px;
    }

    .custom-slide4 p {

        height: 100px
    }

    .butcustom {
        
        margin-top: -370px;
    }

    .butcustom2 {
        
        margin-top: -0px;
    }

    .butcustom1 {
        
        margin-top: -180px;
    }

      
}

@media (min-width: 821px) and (max-width: 1199.98px) {
    
    .card-body1 {

        font-size: 30px;
        width: 18rem;
        top: -400px; 
    }

    .img-fluid {

        margin-left: 220px;
    }
}

@media (min-width: 700px) and (max-width: 820px) {

    .img-fluid {

        margin-left: 250px;
    }

    .card-body1 {

        font-size: 30px;
        width: 18rem;
        top: -350px; 
    }

    .carousel-inner {

        width: 100px;
        height: 500px; 
    }

    .custom-slide1 {
        
        height: 300px;
    }

    .custom-slide4 h5 {

        color: white;
    }

    .bt {

        position: relative;
        top: -50px;
        margin-left: 100px;
    }

}

@media (min-width: 540px) and (max-width: 700px){

    .card-body1 {
    
        font-size: 23px;
        width: 18rem;
        top: -250px; 
    }
        
    .img-fluid {

        margin-left: 200px;
    }

    .custom-slide2 h5 {

        color: #162336;
    }

    .custom-slide4 h5 {

        color: white;
    }

} 

@media (min-width: 500px) and (max-width: 539px) {

    .card-body1 {
    
        font-size: 20px;
        width: 13rem;
        top: -230px;

    }

    .img-fluid {
                
        margin-left: 160px;

    } 

    .custom-slide1 h5 {

        top: 40px; 
    }

    .custom-slide1 p {

        position: relative;
        top: 40px; 
    }

    .butcustom2 {

        position: relative;
        top: 35px;
    }

    .custom-slide2 h5 {

        color:#162336;
    }

    .custom-slide4 h5 {

        color: white;
    }

} 

@media (min-width: 400px) and (max-width: 499px) {

    .card-body1 {

        font-size: 20px;
        width: 13rem;
        top: -180px;
    }

    .custom-slide1 h5  { 

        font-size: 30px;
        top: 40px;
    }
    
    .custom-slide1 p {
        
        position: relative;
        top: 40px; 
        font-size: 15px;
    }

    .custom-slide2 h5  { 

        position: relative;
        font-size: 30px;  
        top: -10px;  
        color:#162336
    }
    
    .custom-slide2 p {
        
        position: relative;
        top: 10px; 
        font-size: 15px;
    }

    .custom-slide3 h5  { 

        position: relative;
        top: 10px;
        font-size: 30px;    
    }
    
    .custom-slide3 p {
        
        position: relative;
        top: 20px;
        font-size: 15px;

    }

    .custom-slide4 h5  { 
        
        position: relative;
        top: 20px;
        color: white; 
        font-size: 30px;   
    }

    .custom-slide5 h5  { 

        position: relative;
        top: 20px;
        font-size: 30px;    
    }
    
    .custom-slide5 p {
        
        position: relative;
        top: 20px;
        font-size: 15px;
    }


    .butcustom {
        
        position: relative;
        top: 30px; 
    }

    .butcustom1 {
        
        position: relative;
        top: 30px; 
    }

    .butcustom2 {
        
        position: relative;
        top: 30px; 
    }

    .img-fluid {
            
        margin-left: 140px;
    } 

    .bt {

        position: relative;
        top: -40px;
        margin-left: 230px;
        width: 190px;
    }

    .carousel1 { 

        top: 200px;   
    }

    .carousel2 { 
    
        top: 200px;    
    }

}

@media (min-width: 100px) and (max-width: 399px) {

    .card-body1 {

        font-size: 18px;
        width: 13rem;
        top: -160px;
    }

    .img-fluid {
            
        margin-left: 120px;
    } 

    .custom-slide1 h5  { 

        font-size: 25px;
        top: 30px;
    }
    
    .custom-slide1 p {
        
        position: relative;
        top: 30px; 
        font-size: 15px;
    }

    .custom-slide2 h5  { 

        position: relative;
        font-size: 25px;  
        top: 30px;  
        color:#162336
    }
    
    .custom-slide2 p {
        
        position: relative;
        top: 30px; 
        font-size: 15px;
    }

    .custom-slide3 h5  { 

        position: relative;
        top: 30px;
        font-size: 25px;    
    }
    
    .custom-slide3 p {
        
        position: relative;
        top: 30px;
        font-size: 15px;
    }

    .custom-slide4 h5  { 
        
        position: relative;
        top: 30px;
        color: white; 
        font-size: 25px;   
    }

    .custom-slide5 h5  { 

        position: relative;
        top: 30px;
        font-size: 25px;    
    }
    
    .custom-slide5 p {
        
        position: relative;
        top: 30px;
        font-size: 15px;
    }

    .butcustom {
        
        position: relative;
        top: 30px; 
    }

    .butcustom2 {
        
        position: relative;
        top: 30px; 
    }

    .butcustom1 {
        
        position: relative;
        top: 30px; 
    }

    .bt {

        position: relative;
        top: -40px;
        margin-left: 90px;
        width: 190px;
    }

    .carousel1 { 

        top: 150px;    
    }
    
    .carousel2 { 
    
        top:150px;    
    }
      
}